---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Entrenamiento Personalizado",
    titleBottom: "Optimiza tu entreno",
    img: c1,
    alt: "Entrenamiento Personalizado",
    link: "#contact",
  },
  {
    index: 2,
    titleTop: "Plan Nutricional",
    titleBottom: "Complemeta tu entreno con una buena alimentación",
    img: c2,
    alt: "Plan Nutricional",
    link: "#contact",
  },
  {
    index: 3,
    titleTop: "Entrenamiento Online",
    titleBottom: "Entrena desde casa tu solo marcando tu ritmo",
    img: c3,
    alt: "Entrenamiento Online",
    link: "#contact",
  },
  {
    index: 1,
    titleTop: "Consultoría",
    titleBottom: "Asesoramiento personalizado",
    img: c4,
    alt: "Consultoría",
    link: "#contact",
  },
  {
    index: 2,
    titleTop: "Clases Grupales",
    titleBottom: "Entrena con amigos y diviértete",
    img: c5,
    alt: "Clases Grupales",
    link: "#contact",
  },
  {
    index: 3,
    titleTop: "Seguimiento y Evaluación",
    titleBottom: "Monitorea tu progreso",
    img: c6,
    alt: "Seguimiento y Evaluación",
    link: "#contact",
  },
];

const description =
  "Descubre nuestros servicios diseñados para ayudarte a alcanzar tus objetivos de fitness. Desde entrenamientos personalizados hasta planes nutricionales, tenemos todo lo que necesitas para transformar tu vida y mejorar tu bienestar.";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Servicios" description={description} class="text-6xl" descriptionClass="text-3xl" />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
            titleTopClass="text-3xl"
            titleBottomClass="text-4xl"
          />
        ))
      }
    </div>
  </div>
</Section>
